.ticket-info {
  font-weight: 900;
  font-size: min(13vw, 60px);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ticket-info>img {
  width: 20vw;
  max-width: 100px;
  margin-right: 2vw;
}

.ticket-info .price-per-ticket {
  color: var(--dark-green);
}