.Navbar {
  display: grid;
  grid-template-columns: 1fr;
  padding: 15px;
  padding-bottom: 0;
  font-size: 3rem;
  align-items: center;
}

.Navbar .Link {
  margin: 20px 0;
}

.Navbar .Link .NavbarText {
  color: var(--dark-grey);
  text-decoration: none;
  margin-left: 15px;
  font-weight: 500;
}

.Navbar .Link:hover .NavbarIcon {
  color: var(--dark-green);
}

.Navbar .Link .NavbarIcon {
  width: 4rem;
  color: var(--light-green);
}