.PrivacyPolicy {
  width: 100%;
  height: 100%;
  padding: 10px;
  color: var(--dark-grey);
}

.PrivacyPolicy h1 {
  text-align: center;
  font-size: 1.8rem;
}

.PrivacyPolicy h2, .PrivacyPolicy h3 {
  color: var(--dark-green);
}