.MatchOverview {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 30px 10px;
}

.MatchOverviewRival, .MatchOverviewDate, .MatchOverviewTicketAmountDesc {
  font-weight: 700;
}

.MatchOverviewLeague, .MatchOverviewLocaion, .MatchOverviewDate {
  color: #666666;
}

.MatchOverviewTicketAmountDesc {
  font-size: 1.4rem;
}

.MatchOverviewTicketAmount {
  display: inline-block;
  padding: 10px;
  color: var(--dark-green);
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 2px;
  box-shadow: 0 0 15px 5px rgb(190, 190, 190);
}

.MatchOverviewPricePerTicket {
  font-weight: 900;
  color: var(--dark-green);
  font-size: min(13vw, 60px)
}

.MatchOverviewPricePerTicketWrapper>.Logo {
  width: 20vw;
  max-width: 100px;
  margin-right: 2vw;
}

.MatchOverviewPricePerTicketWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.MatchOverviewButton {
  font-size: 2rem;
  font-weight: 700;
  padding: 20px 40px;
}