.profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: min(2vw, 20px);
}

.profile img {
  max-width: 40%;
  align-self: center;
}

.profile h2 {
  text-align: center;
}

.profile div {
  margin: 20px 0;
}

.profile form {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.profile .delete-button {
  display: block;
  margin: 20px auto;
}