.match-overview {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  padding: min(2vw, 20px);
}

.match-overview>img {
  width: 40%;
}

.delete-button, .edit-button, .match-overview .ticket-amount-desc, .match-overview .buy-button {
  font-weight: 700;
}

.match-overview .location, .match-overview .date {
  color: #666666;
}

.match-overview .buy-button {
  font-size: 2rem;
  padding: 20px 40px;
}

.delete-button {
  background-color: var(--red);
}

.delete-button:hover {
  background-color: var(--darker-red);
}

.edit-button {
  background-color: var(--light-grey);
}

.edit-button:hover, .edit-button:disabled {
  background-color: var(--dark-grey);
}